#touch{
	padding-top:4rem;
	padding-bottom:6.5rem;
	.formWrapper{
		margin-top:1.5rem;
		width:100%;
		display:flex;
		justify-content: space-between;
		margin-bottom:3rem;
		input{
			height:50px;
			width:31%;
		}
	}
	textarea{

		width:100%;
		padding-left:1rem;
	}
	button{
		margin-top:2.5rem;
		float:right;
	}
}