$gradient100:linear-gradient(-45deg, rgba(47,76,253,1), rgba(211,4,208,1));
$gradient90: linear-gradient(-45deg, rgba(47,76,253,0.9), rgba(211,4,208,0.9));
$gradient75: linear-gradient(to top left, rgba(47,76,253,0.75), rgba(211,4,208,0.75));
$gradient0: linear-gradient(-45deg, rgba(47,76,253,0.0), rgba(211,4,208,0.0));